<%= form_with(model: tienda_artesanium, local: true) do |form| %>
  <% if tienda_artesanium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tienda_artesanium.errors.count, "error") %> prohibited this tienda_artesanium from being saved:</h2>

      <ul>
      <% tienda_artesanium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, "Nombre" %>
    <%= form.text_field :nombre, id: :tienda_artesanium_nombre, :class =>'form-control' %>
  </div>

    <div class="field">
      <%= form.label :foto, "Imagen" %>
      <%= form.text_field :foto, id: :recetum_foto, :class =>'form-control'  %>
    </div>

  <div class="field">
    <%= form.label :descripcion, "Descripción" %>
    <%= form.text_area :descripcion, id: :tienda_artesanium_descripcion, :class =>'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ubicacion, "Ubicación" %>
    <%= form.text_area :ubicacion, id: :tienda_artesanium_ubicacion, :class =>'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
