<p id="notice"><%= notice %></p>

<div class="container">
<h3 align="center">Tiendas de Artesanias</h3>
    <% @tienda_artesania.each do |tienda_artesanium| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <h2>
        <%= tienda_artesanium.nombre %>
          </h2>
        <%= image_tag(tienda_artesanium.foto, :class=>'img-rounded', :alt=>'Cinque Terre', :width=>'224', :height=>'236')  %>
          <div class="thumbnail">
        <%= tienda_artesanium.descripcion %>
          </div>
          <div class="thumbnail">
        <%= tienda_artesanium.ubicacion %>
          </div>
          <div class="buttons", style="margin-top:10px; margin-bottom:10px ">
        <%= link_to 'Ver', tienda_artesanium, :class=>'btn btn-default btn-sm btn-block' %>

            <% if user_signed_in? %>
                <%= link_to 'Editar', edit_tienda_artesanium_path(tienda_artesanium), :class=>'btn btn-default btn-sm btn-block' %>
        <%= link_to 'Eliminar', tienda_artesanium, method: :delete, data: { confirm: 'Seguro?' }, :class=>'btn btn-default btn-sm btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

<br>

</div>
<% if user_signed_in? %>
    <%= link_to 'Nueva Tienda De Artesanias', new_tienda_artesanium_path, :class=>'btn btn-info btn-block' %>
<% end %>
