<p id="notice"><%= notice %></p>
<h2 align="center">Tienda</h2>
<div class="container">
  <div class="well">

<p>
  <strong>Nombre:</strong>
  <%= @tienda_artesanium.nombre %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@tienda_artesanium.foto, :class=>'img-rounded', :alt=>'Cinque Terre', :width=>'224', :height=>'236')   %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tienda_artesanium.descripcion %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @tienda_artesanium.ubicacion %>
</p>

<%= link_to 'Editar', edit_tienda_artesanium_path(@tienda_artesanium), :class=>'btn btn-info btn-block' %>
<%= link_to 'Regresar', tienda_artesania_path, :class=>'btn btn-info btn-block' %>
  </div>
</div>