<%= form_with(model: artesanium, local: true) do |form| %>
  <% if artesanium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artesanium.errors.count, "error") %> prohibited this artesanium from being saved:</h2>

      <ul>
      <% artesanium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto, id: :artesanium_foto %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :artesanium_descripcion %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :artesanium_precio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
